<h2>Listings in {{ category.name }}</h2>

{% if listings %}
    <h3><a href="{% url 'category_listings' category.id %}">{{ category.name }}</a></h3>

  {% for listing in listings %}
    <div>
      <p><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></p>
      <p>{{ listing.description }}</p>
      <p>Current Price: {{ listing.current_price }} Credits</p>
      {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="200">
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>No active listings in this category.</p>
{% endif %}
